[Unit]
Description = AGQR radio play button service timer

[Timer]
# ブート後、この時間後にこのタイマーを開始する
OnBootSec=10sec
Unit=agqrbtn.service

[Install]
WantedBy=multi-user.target
